<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="shortcut icon" href="/img/vs-Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/inicio.css">
</head>

<body>
    <main>
        <header>
            <h1></h1>
        </header>

        <div class="divPrin">
            <div class="cajita-bonita">
                <h3>Jugador 1</h2>
                    <input class="validadorNombre1" type="text" placeholder="Ingrese nombre del jugador 1">
                    <button class="input01">Guardar</button>
                    <p class="vn1 rechazarColor"></p>
            </div>
            <img src="/img/logo.png" alt="Logo">
            <div class="cajita-bonita">
                <h3>Jugador 2</h2>
                    <input class="validadorNombre2" type="text" placeholder="Ingrese nombre del jugador 2">
                    <button class="input02">Guardar</button>
                    <p class="vn2 rechazarColor"></p>
            </div>
        </div>

        <div class="divBtnInicio">
            <button class="inicioDesactivado inicioBtn" onclick="redireccionar()">Iniciar</button>
        </div>

    </main>

    <script src="/assets/js/script.js"></script>
</body>

</html>